# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site
_posts/example.md
assets/img/favicons/

# RubyGems
*.gem

# npm dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode
